anndata==0.12.6
bipython==0.1.2
Bottleneck==1.6.0
geojson==3.2.0
geopandas==1.1.1
hyperopt==0.2.7
ipykernel==7.1.0
ipython==9.7.0
ipywidgets==8.1.8
jax==0.8.0
jaxlib==0.8.0
jupyterlab==4.4.10
leidenalg==0.11.0
lxml==6.0.2
matplotlib==3.10.7
networkx==3.5
numpy==2.3.4
numpy-typing-compat==20250818.2.3
pandas==2.3.3
pandas-stubs==2.3.2.250926
python-igraph==1.0.0
pytorch-lightning==2.5.6
ray[data,train,tune,serve,rllib,default]==2.50.1
referencing==0.37.0
requests==2.32.5
scanpy==1.11.5
scib-metrics==0.5.7
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-misc==0.5.2
scipy==1.16.3
scipy-stubs==1.16.3.0
scvi-tools==1.4.0.post1
seaborn==0.13.2
torch==2.9.0
torchvision==0.24.0
types-geopandas==1.1.1.20250829
types-seaborn==0.13.2.20250914
