anndata==0.12.10
bipython==0.1.2
Bottleneck==1.6.0
geojson==3.2.0
geopandas==1.1.2
hyperopt==0.2.7
ipykernel==7.2.0
ipython==9.10.0
ipywidgets==8.1.8
jax==0.9.0.1
jaxlib==0.9.0.1
jupyterlab==4.5.5
leidenalg==0.11.0
lxml==6.0.2
matplotlib==3.10.8
networkx==3.6.1
numpy==2.4.2
numpy-typing-compat==20251206.2.4
pandas==2.3.3
pandas-stubs==3.0.0.260204
python-igraph==1.0.0
pytorch-lightning==2.6.1
ray[data,train,tune,serve,rllib,default]==2.55.0
referencing==0.37.0
requests==2.32.5
scanpy==1.12
scib-metrics==0.5.9
scikit-image==0.26.0
scikit-learn==1.8.0
scikit-misc==0.5.2
scipy==1.17.1
scipy-stubs==1.17.1.0
scvi-tools==1.4.2
seaborn==0.13.2
torch==2.10.0
torchvision==0.25.0
types-geopandas==1.1.2.20260120
types-seaborn==0.13.2.20251221
